{% extends './layout.twig' %}

{% set title = 'Article List' %}

{% block body %}
<div class="myDiv1">
  <h1 style="color:white">Nutrient Analysis</h1>
  <table>
  <tr>
    <th style="color:white">Nutrient</th>
    <th style="color:white">Level</th>
  </tr>
  <tr>
    <td style="color:white">Nitrogen</td>
    <td style="color:white"></td>
  </tr>
  <tr>
    <td style="color:white">Phosphorous</td>
    <td style="color:white"></td>
  </tr>
  <tr>
    <td style="color:white">Potassium</td>
    <td style="color:white"></td>
  </tr>
</div>
{% endblock %}

{% block footerjs %}
{% endblock %}
